{% extends 'composants/base.html' %}
{% load static %}
{% block title %}Pourquoi nous choisir - Al Mountakh{% endblock %}

{% block content %}
<!-- Why Us Section -->
<section id="why-us" class="why-us section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up" style="padding-top: 200px;">
    <h2>POURQUOI NOUS</h2>
    <p>Pourquoi choisir le restaurant Al Mountakh</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">

      <!-- Qualité culinaire -->
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <span>01</span>
          <h4><a href="#" class="stretched-link">Cuisine Authentique</a></h4>
          <p>Nous proposons des plats traditionnels sénégalais préparés avec passion, fraîcheur et des produits locaux de qualité.</p>
        </div>
      </div><!-- End Card -->

      <!-- Service client -->
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card-item">
          <span>02</span>
          <h4><a href="#" class="stretched-link">Service Exceptionnel</a></h4>
          <p>Notre équipe est chaleureuse, accueillante et toujours prête à vous offrir un service irréprochable dans un cadre convivial.</p>
        </div>
      </div><!-- End Card -->

      <!-- Hygiène et cadre -->
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card-item">
          <span>03</span>
          <h4><a href="#" class="stretched-link">Hygiène & Confort</a></h4>
          <p>Al Mountakh respecte les normes les plus strictes en matière d’hygiène, tout en offrant un cadre propre, calme et raffiné.</p>
        </div>
      </div><!-- End Card -->

    </div>
  </div>

</section><!-- /Why Us Section -->

{% endblock %}
